# SQL Practice: Shop (Products & Sales)
This notebook contains SQL + Python (SQLite + pandas) practice tasks.
Follow the instructions in each task and write your code in the empty code cells.

## Beginner

# 📝 Task 1 — Create a SQLite database `shop.db`
### Instructions:
1. Create a new SQLite database called **`shop.db`**.  
2. Create a table `products (id, name, category, price)`.  
3. Create a table `sales (id, product_id, revenue, date)`.  
4. Insert at least 5 demo products and 5 demo sales.  
5. Select all rows from both tables to verify data.

In [7]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('db/shop.db')
cursor = conn.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS products (
        id INTEGER PRIMARY KEY,
        name TEXT,
        category TEXT,
        price REAL
    ); 
""")
cursor.execute("""
    CREATE TABLE IF NOT EXISTS sales (
        id INTEGER PRIMARY KEY,
        product_id INT,
        revenue REAL,
        date TEXT,
        FOREIGN KEY(product_id) REFERENCES products(id)
    );
""")
products_data = [
    (1, "Laptop",   "Electronics", 1200.00),
    (2, "Phone",    "Electronics", 800.00),
    (3, "Tablet",   "Electronics", 500.00),
    (4, "Headphones", "Accessories", 150.00),
    (5, "Backpack", "Fashion", 70.00),
    (6, "Shoes",    "Fashion", 90.00),
    (7, "Desk",     "Furniture", 200.00),
    (8, "Chair",    "Furniture", 120.00),
    (9, "Monitor",  "Electronics", 300.00),
    (10, "Keyboard", "Accessories", 45.00),
]
sales_data = [
    (1, 1, 2400.00, "2025-09-01"),  # 2 laptops
    (2, 2, 1600.00, "2025-09-01"),  # 2 phones
    (3, 3, 1000.00, "2025-09-02"),  # 2 tablets
    (4, 5, 140.00,  "2025-09-02"),  # 2 backpacks
    (5, 4, 450.00,  "2025-09-03"),  # 3 headphones
    (6, 6, 180.00,  "2025-09-03"),  # 2 shoes
    (7, 9, 600.00,  "2025-09-04"),  # 2 monitors
    (8, 10, 135.00, "2025-09-04"),  # 3 keyboards
    (9, 7, 400.00,  "2025-09-05"),  # 2 desks
    (10, 8, 240.00, "2025-09-05"),  # 2 chairs
]
cursor.executemany(
    "INSERT OR IGNORE INTO products VALUES (?, ?, ?, ?);",
    products_data
)
cursor.executemany(
    "INSERT OR IGNORE INTO sales VALUES (?, ?, ?, ?);",
    sales_data
)
conn.commit()

print("All products:")
print(pd.read_sql("SELECT * FROM products;", conn))
print("All sales:")
print(pd.read_sql("SELECT * FROM sales;", conn))
conn.close()

All products:
   id        name     category   price
0   1      Laptop  Electronics  1200.0
1   2       Phone  Electronics   800.0
2   3      Tablet  Electronics   500.0
3   4  Headphones  Accessories   150.0
4   5    Backpack      Fashion    70.0
5   6       Shoes      Fashion    90.0
6   7        Desk    Furniture   200.0
7   8       Chair    Furniture   120.0
8   9     Monitor  Electronics   300.0
9  10    Keyboard  Accessories    45.0
All sales:
   id  product_id  revenue        date
0   1           1   2400.0  2025-09-01
1   2           2   1600.0  2025-09-01
2   3           3   1000.0  2025-09-02
3   4           5    140.0  2025-09-02
4   5           4    450.0  2025-09-03
5   6           6    180.0  2025-09-03
6   7           9    600.0  2025-09-04
7   8          10    135.0  2025-09-04
8   9           7    400.0  2025-09-05
9  10           8    240.0  2025-09-05

# 📝 Task 2 — Load data into pandas
### Instructions:
1. Write a query `SELECT * FROM products`.  
2. Load it into a pandas DataFrame.  
3. Print the DataFrame.

In [12]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('db/shop.db')
query = "SELECT * FROM products;"
print("All products:")
print(pd.read_sql(query, conn))
conn.close()

All products:
   id        name     category   price
0   1      Laptop  Electronics  1200.0
1   2       Phone  Electronics   800.0
2   3      Tablet  Electronics   500.0
3   4  Headphones  Accessories   150.0
4   5    Backpack      Fashion    70.0
5   6       Shoes      Fashion    90.0
6   7        Desk    Furniture   200.0
7   8       Chair    Furniture   120.0
8   9     Monitor  Electronics   300.0
9  10    Keyboard  Accessories    45.0

## Intermediate

# 📝 Task 3 — JOIN products and sales
### Instructions:
1. Write a JOIN query to show `product_name`, `category`, `revenue`, `date`.  
2. Load the results into pandas.  
3. Display the DataFrame.

In [17]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('db/shop.db')
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())
cursor.execute("PRAGMA table_info(products);")
print(cursor.fetchall())
cursor.execute("PRAGMA table_info(sales);")
print(cursor.fetchall())
query = """SELECT p.name, p.category, s.revenue, s.date
           FROM products p
           JOIN sales s ON p.id = s.product_id;
        """
print(pd.read_sql(query, conn))
conn.close()

[('products',), ('sales',)]
[(0, 'id', 'INTEGER', 0, None, 1), (1, 'name', 'TEXT', 0, None, 0), (2, 'category', 'TEXT', 0, None, 0), (3, 'price', 'REAL', 0, None, 0)]
[(0, 'id', 'INTEGER', 0, None, 1), (1, 'product_id', 'INT', 0, None, 0), (2, 'revenue', 'REAL', 0, None, 0), (3, 'date', 'TEXT', 0, None, 0)]
         name     category  revenue        date
0      Laptop  Electronics   2400.0  2025-09-01
1       Phone  Electronics   1600.0  2025-09-01
2      Tablet  Electronics   1000.0  2025-09-02
3    Backpack      Fashion    140.0  2025-09-02
4  Headphones  Accessories    450.0  2025-09-03
5       Shoes      Fashion    180.0  2025-09-03
6     Monitor  Electronics    600.0  2025-09-04
7    Keyboard  Accessories    135.0  2025-09-04
8        Desk    Furniture    400.0  2025-09-05
9       Chair    Furniture    240.0  2025-09-05

# 📝 Task 4 — Revenue by category
### Instructions:
1. Use GROUP BY to calculate total revenue per category.  
2. Show only categories with revenue > 5000 (HAVING).  
3. Load the results into pandas.

In [28]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('db/shop.db')
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())
cursor.execute("PRAGMA table_info(products)")
print(cursor.fetchall())
cursor.execute("PRAGMA table_info(sales)")
print(cursor.fetchall())

query = """
    SELECT p.category, SUM(s.revenue) AS total_revenue
    FROM products p
    JOIN sales s ON p.id = s.product_id
    GROUP BY p.category
    HAVING SUM(s.revenue) > 5000;
"""
print(pd.read_sql(query, conn))
conn.close()

[('products',), ('sales',)]
[(0, 'id', 'INTEGER', 0, None, 1), (1, 'name', 'TEXT', 0, None, 0), (2, 'category', 'TEXT', 0, None, 0), (3, 'price', 'REAL', 0, None, 0)]
[(0, 'id', 'INTEGER', 0, None, 1), (1, 'product_id', 'INT', 0, None, 0), (2, 'revenue', 'REAL', 0, None, 0), (3, 'date', 'TEXT', 0, None, 0)]
      category  total_revenue
0  Accessories          585.0
1  Electronics         5600.0
2      Fashion          320.0
3    Furniture          640.0

## Advanced

# 📝 Task 5 — CTE for product revenue
### Instructions:
1. Create a CTE to calculate total revenue per product.  
2. Select only products with revenue > 5000.

In [25]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('db/shop.db')
print(pd.read_sql("SELECT * FROM sales;", conn))
# print(pd.read_sql("SELECT * FROM products;", conn))
query = """
    WITH product_revenue AS (
        SELECT p.name, SUM(s.revenue) AS total_revenue
        FROM sales s
        INNER JOIN products p ON p.id = s.product_id
        GROUP BY p.name
    )
    SELECT * FROM product_revenue WHERE total_revenue > 400;
"""
print(pd.read_sql(query, conn))
conn.close()

   id  product_id  revenue        date
0   1           1   2400.0  2025-09-01
1   2           2   1600.0  2025-09-01
2   3           3   1000.0  2025-09-02
3   4           5    140.0  2025-09-02
4   5           4    450.0  2025-09-03
5   6           6    180.0  2025-09-03
6   7           9    600.0  2025-09-04
7   8          10    135.0  2025-09-04
8   9           7    400.0  2025-09-05
9  10           8    240.0  2025-09-05
         name  total_revenue
0  Headphones          450.0
1      Laptop         2400.0
2     Monitor          600.0
3       Phone         1600.0
4      Tablet         1000.0

# 📝 Task 6 — Subquery for above-average revenue
### Instructions:
1. Use a subquery to select all products with revenue above the average.

In [26]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('db/shop.db')
query = """
    SELECT p.name, s.revenue
    FROM sales s
    INNER JOIN products p ON p.id = s.product_id
    WHERE s.revenue > (
        SELECT AVG(revenue) FROM sales
    )
"""
print(pd.read_sql(query, conn))
conn.close()

     name  revenue
0  Laptop   2400.0
1   Phone   1600.0
2  Tablet   1000.0

# 📝 Task 7 — Index and Window function
### Instructions:
1. Create an index on `product_id` in `sales`.  
2. Use RANK() to find the top-3 products in each category.

In [28]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("db/shop.db")
cursor = conn.cursor()

cursor.execute("""
    CREATE INDEX IF NOT EXISTS idx_sales_product_id 
    ON sales(product_id);
""")
query = """
WITH product_revenue AS (
    SELECT 
        p.category,
        p.name,
        SUM(s.revenue) AS total_revenue
    FROM sales s
    JOIN products p ON p.id = s.product_id
    GROUP BY p.category, p.name
),
ranked AS (
    SELECT 
        category,
        name,
        total_revenue,
        RANK() OVER (
            PARTITION BY category 
            ORDER BY total_revenue DESC
        ) AS rnk
    FROM product_revenue
)
SELECT *
FROM ranked
WHERE rnk <= 3;
"""
df = pd.read_sql(query, conn)
print(df)

conn.close()

      category        name  total_revenue  rnk
0  Accessories  Headphones          450.0    1
1  Accessories    Keyboard          135.0    2
2  Electronics      Laptop         2400.0    1
3  Electronics       Phone         1600.0    2
4  Electronics      Tablet         1000.0    3
5      Fashion       Shoes          180.0    1
6      Fashion    Backpack          140.0    2
7    Furniture        Desk          400.0    1
8    Furniture       Chair          240.0    2