# SQL Practice: Library (Books & Borrowings)
This notebook contains SQL + Python (SQLite + pandas) practice tasks.
Follow the instructions in each task and write your code in the empty code cells.

## Beginner

# 📝 Task 1 — Create a SQLite database `library.db`
### Instructions:
1. Create a new SQLite database called **`library.db`**.  
2. Create a table `books (id, title, author, price)`.  
3. Insert at least 5 books.  
4. Select all rows to verify data.

In [1]:
import sqlite3
import pandas as pd

books_data = [
    (1, "1984", "George Orwell", 9.99),
    (2, "Brave New World", "Aldous Huxley", 12.50),
    (3, "Fahrenheit 451", "Ray Bradbury", 8.75),
    (4, "To Kill a Mockingbird", "Harper Lee", 10.20),
    (5, "The Great Gatsby", "F. Scott Fitzgerald", 7.80),
    (6, "Moby Dick", "Herman Melville", 11.00),
    (7, "Pride and Prejudice", "Jane Austen", 6.50),
    (8, "The Catcher in the Rye", "J.D. Salinger", 9.40),
    (9, "Animal Farm", "George Orwell", 5.99),
    (10, "The Hobbit", "J.R.R. Tolkien", 14.30)
]

conn = sqlite3.connect('db/library.db')
cursor = conn.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS books
    (
        id INTEGER PRIMARY KEY,
        title TEXT,
        author TEXT,
        price REAL
    )
""")
cursor.executemany(
    "INSERT OR IGNORE INTO books VALUES (?, ?, ?, ?);",
    books_data
)
conn.commit()

df = pd.read_sql("SELECT * FROM books", conn)
print(df)

conn.close()

   id                   title               author  price
0   1                    1984        George Orwell   9.99
1   2         Brave New World        Aldous Huxley  12.50
2   3          Fahrenheit 451         Ray Bradbury   8.75
3   4   To Kill a Mockingbird           Harper Lee  10.20
4   5        The Great Gatsby  F. Scott Fitzgerald   7.80
5   6               Moby Dick      Herman Melville  11.00
6   7     Pride and Prejudice          Jane Austen   6.50
7   8  The Catcher in the Rye        J.D. Salinger   9.40
8   9             Animal Farm        George Orwell   5.99
9  10              The Hobbit       J.R.R. Tolkien  14.30

# 📝 Task 2 — Load data into pandas
### Instructions:
1. Write a query `SELECT * FROM books`.  
2. Load it into a pandas DataFrame.  
3. Print the DataFrame.

In [3]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('db/library.db')

df = pd.read_sql("SELECT * FROM books", conn)
print(df)

conn.close()

   id                   title               author  price
0   1                    1984        George Orwell   9.99
1   2         Brave New World        Aldous Huxley  12.50
2   3          Fahrenheit 451         Ray Bradbury   8.75
3   4   To Kill a Mockingbird           Harper Lee  10.20
4   5        The Great Gatsby  F. Scott Fitzgerald   7.80
5   6               Moby Dick      Herman Melville  11.00
6   7     Pride and Prejudice          Jane Austen   6.50
7   8  The Catcher in the Rye        J.D. Salinger   9.40
8   9             Animal Farm        George Orwell   5.99
9  10              The Hobbit       J.R.R. Tolkien  14.30

## Intermediate

# 📝 Task 3 — Create borrowings table
### Instructions:
1. Create a table `borrowings (id, book_id, borrow_date)`.  
2. Insert demo records.  
3. JOIN `books` and `borrowings` to show `title` and `borrow_date`.  
4. Load into pandas.

In [18]:
import sqlite3
import pandas as pd

borrowings_data = [
    # George Orwell
    (1, 1, "2025-01-10"),  # 1984
    (2, 1, "2025-01-15"),
    (3, 1, "2025-02-01"),
    (4, 9, "2025-02-05"),  # Animal Farm
    (5, 9, "2025-02-12"),

    # Aldous Huxley
    (6, 2, "2025-02-20"),  # Brave New World
    (7, 2, "2025-02-28"),

    # Ray Bradbury
    (8, 3, "2025-03-01"),  # Fahrenheit 451
    (9, 3, "2025-03-10"),
    (10, 3, "2025-03-20"),

    # Harper Lee
    (11, 4, "2025-03-12"),  # To Kill a Mockingbird
    (12, 4, "2025-03-15"),

    # F. Scott Fitzgerald
    (13, 5, "2025-03-18"),  # The Great Gatsby

    # Herman Melville
    (14, 6, "2025-03-22"),  # Moby Dick
    (15, 6, "2025-03-25"),

    # Jane Austen
    (16, 7, "2025-03-28"),  # Pride and Prejudice
    (17, 7, "2025-03-30"),
    (18, 7, "2025-04-01"),

    # J.D. Salinger
    (19, 8, "2025-04-02"),  # The Catcher in the Rye
    (20, 8, "2025-04-05"),

    # J.R.R. Tolkien
    (21, 10, "2025-04-08"), # The Hobbit
    (22, 10, "2025-04-12"),
    (23, 10, "2025-04-15"),
    (24, 10, "2025-04-18")
]


conn = sqlite3.connect('db/library.db')
cursor = conn.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS borrowings
    (
        id INTEGER PRIMARY KEY,
        book_id INTEGER,
        borrow_date TEXT,
        CONSTRAINT fk_book_id FOREIGN KEY (book_id)
        REFERENCES books(id)
    )
""")
cursor.executemany(
    "INSERT OR REPLACE INTO borrowings VALUES (?, ?, ?);",
    borrowings_data
)
conn.commit()

query = """
    SELECT boo.title, b.borrow_date
    FROM borrowings b
    INNER JOIN books boo ON b.book_id = boo.id 
"""
df = pd.read_sql(query, conn)
print(df)
conn.close()

                     title borrow_date
0                     1984  2025-01-10
1                     1984  2025-01-15
2                     1984  2025-02-01
3              Animal Farm  2025-02-05
4              Animal Farm  2025-02-12
5          Brave New World  2025-02-20
6          Brave New World  2025-02-28
7           Fahrenheit 451  2025-03-01
8           Fahrenheit 451  2025-03-10
9           Fahrenheit 451  2025-03-20
10   To Kill a Mockingbird  2025-03-12
11   To Kill a Mockingbird  2025-03-15
12        The Great Gatsby  2025-03-18
13               Moby Dick  2025-03-22
14               Moby Dick  2025-03-25
15     Pride and Prejudice  2025-03-28
16     Pride and Prejudice  2025-03-30
17     Pride and Prejudice  2025-04-01
18  The Catcher in the Rye  2025-04-02
19  The Catcher in the Rye  2025-04-05
20              The Hobbit  2025-04-08
21              The Hobbit  2025-04-12
22              The Hobbit  2025-04-15
23              The Hobbit  2025-04-18

# 📝 Task 4 — Borrowings per author
### Instructions:
1. Use GROUP BY to count borrowings per author.  
2. Show only authors with > 3 borrowings.

In [19]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('db/library.db')

query = """
    SELECT boo.author, COUNT(boo.author) AS borrowed_books
    FROM books boo
    INNER JOIN borrowings b ON b.book_id = boo.id
    GROUP BY boo.author 
    HAVING borrowed_books > 3
    ORDER BY borrowed_books DESC
"""

df = pd.read_sql(query, conn)
print(df)
conn.close()

           author  borrowed_books
0   George Orwell               5
1  J.R.R. Tolkien               4

## Advanced

# 📝 Task 5 — CTE for book popularity
### Instructions:
1. Create a CTE to calculate borrowings per book.  
2. Select only books with more than 2 borrowings.

In [20]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('db/library.db')

query = """
    WITH borrowings_per_book AS
    (
        SELECT boo.title, COUNT(boo.title) AS book_borrowed
        FROM books boo
        INNER JOIN borrowings b ON b.book_id = boo.id
        GROUP BY boo.title
    )
    SELECT * FROM borrowings_per_book WHERE book_borrowed > 2
"""
df = pd.read_sql(query, conn)
print(df)
conn.close()

                 title  book_borrowed
0                 1984              3
1       Fahrenheit 451              3
2  Pride and Prejudice              3
3           The Hobbit              4

# 📝 Task 6 — Subquery above average
### Instructions:
1. Use a subquery to find books with borrowings above the average.

In [21]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('db/library.db')

query = """
    WITH books_avg AS
    (
        SELECT boo.author, boo.title, COUNT(boo.title) as books_borrowed
        FROM books boo
        INNER JOIN borrowings b ON b.book_id = boo.id
        GROUP BY boo.title
    )
    SELECT * FROM books_avg 
    WHERE books_borrowed > (SELECT AVG(books_borrowed) FROM books_avg)
"""
df = pd.read_sql(query, conn)
print(df)
conn.close()

           author                title  books_borrowed
0   George Orwell                 1984               3
1    Ray Bradbury       Fahrenheit 451               3
2     Jane Austen  Pride and Prejudice               3
3  J.R.R. Tolkien           The Hobbit               4

# 📝 Task 7 — Index and RANK
### Instructions:
1. Create an index on `book_id` in `borrowings`.  
2. Use RANK() to find the top-3 books per author.

In [27]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('db/library.db')
cursor = conn.cursor()
cursor.execute(
    "CREATE INDEX IF NOT EXISTS idx_books_id ON borrowings(book_id)"
)
query = """
    WITH books_per_author AS
    (
        SELECT boo.author, boo.title, COUNT(boo.title) AS books_borrowed
        FROM books boo
        INNER JOIN borrowings b ON b.book_id = boo.id
        GROUP BY boo.author, boo.title
    ),
    ranked AS
    (
        SELECT author, title, books_borrowed,
        RANK() OVER
        (
            PARTITION BY author ORDER BY books_borrowed DESC
        ) 
        AS rnk FROM books_per_author
    )
    SELECT * FROM ranked;
"""
df = pd.read_sql(query, conn)
print(df)
conn.close()

                author                   title  books_borrowed  rnk
0        Aldous Huxley         Brave New World               2    1
1  F. Scott Fitzgerald        The Great Gatsby               1    1
2        George Orwell                    1984               3    1
3        George Orwell             Animal Farm               2    2
4           Harper Lee   To Kill a Mockingbird               2    1
5      Herman Melville               Moby Dick               2    1
6        J.D. Salinger  The Catcher in the Rye               2    1
7       J.R.R. Tolkien              The Hobbit               4    1
8          Jane Austen     Pride and Prejudice               3    1
9         Ray Bradbury          Fahrenheit 451               3    1