# üêº Pandas Tasks 2

## Task

### Step 1. Load CSV
Load the file `sales.csv` into a DataFrame.

In [1]:
import pandas as pd

df = pd.read_csv('csv/sales.csv',index_col="date")
df

             region    product  quantity  price  revenue
date
2023-02-08     East  Product D         3  64.33    193.0
2023-02-21     East  Product B        11  26.36    290.0
2023-01-29     West  Product A        11  18.55    204.0
2023-01-15    South  Product D        18  20.06    361.0
2023-02-12    South  Product E        15  13.60    204.0
...             ...        ...       ...    ...      ...
2023-02-12    South  Product E        16   7.62    122.0
2023-01-29     East  Product B         8  18.62    149.0
2023-02-05    South  Product B         4  14.00     56.0
2023-01-13    North  Product B         8   1.25     10.0
2023-02-01  Central  Product E         4  24.75     99.0

[200 rows x 5 columns]

### Step 2. Average Revenue
Print the average `Revenue`.

In [2]:
print(df['revenue'].mean())

222.0753768844221

### Step 3. Min and Max Revenue
Find the minimum and maximum values of the `Revenue` column.

In [3]:
print(df['revenue'].idxmax(), df['revenue'].idxmin())

2023-01-27 2023-02-05

### Step 4. New column Revenue_with_tax
Add a new column `Revenue_with_tax` that includes 20% tax.

In [4]:
df['revenue_with_tax'] = df['revenue'] * 1.20
df

             region    product  quantity  price  revenue  revenue_with_tax
date
2023-02-08     East  Product D         3  64.33    193.0             231.6
2023-02-21     East  Product B        11  26.36    290.0             348.0
2023-01-29     West  Product A        11  18.55    204.0             244.8
2023-01-15    South  Product D        18  20.06    361.0             433.2
2023-02-12    South  Product E        15  13.60    204.0             244.8
...             ...        ...       ...    ...      ...               ...
2023-02-12    South  Product E        16   7.62    122.0             146.4
2023-01-29     East  Product B         8  18.62    149.0             178.8
2023-02-05    South  Product B         4  14.00     56.0              67.2
2023-01-13    North  Product B         8   1.25     10.0              12.0
2023-02-01  Central  Product E         4  24.75     99.0             118.8

[200 rows x 6 columns]

### Step 5. Filter products
Print only rows where `Revenue_with_tax > 500`.

In [5]:
print(df.loc[df['revenue_with_tax']>20])

             region    product  quantity  price  revenue  revenue_with_tax
date
2023-02-08     East  Product D         3  64.33    193.0             231.6
2023-02-21     East  Product B        11  26.36    290.0             348.0
2023-01-29     West  Product A        11  18.55    204.0             244.8
2023-01-15    South  Product D        18  20.06    361.0             433.2
2023-02-12    South  Product E        15  13.60    204.0             244.8
...             ...        ...       ...    ...      ...               ...
2023-01-15    South  Product E        11   2.64     29.0              34.8
2023-02-12    South  Product E        16   7.62    122.0             146.4
2023-01-29     East  Product B         8  18.62    149.0             178.8
2023-02-05    South  Product B         4  14.00     56.0              67.2
2023-02-01  Central  Product E         4  24.75     99.0             118.8

[189 rows x 6 columns]

### ‚≠ê Optional (Portfolio)
Create a function `analyze_sales(filename)` that:
- takes the CSV filename;
- returns a dictionary with average, minimum, and maximum revenue.

In [6]:
def analyze_sales(filename: str)->dict:
    df = pd.read_csv(filename)
    return {
        "Average revenue:": df['revenue'].mean(),
        "Minimum revenue:": df['revenue'].min(),
        "Maximum revenue:": df['revenue'].max()
    }
print(analyze_sales('csv/sales.csv'))

{'Average revenue:': np.float64(222.0753768844221), 'Minimum revenue:': np.float64(-50.0), 'Maximum revenue:': np.float64(495.0)}